#account {
    width: 60px;
    height: 60px;
    box-shadow: 0px 0px 3px 2px gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
  }
  #savatcha {
    width: 60px;
    height: 60px;
    box-shadow: 0px 0px 3px 2px gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
  }
  
  .card {
    height: 230px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
  }
  .container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
  }
  
  .open-account {
    display: flex;
  }
  .car {
    height: 300px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    ;
  }
  .containe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
  }
  input{
    border-radius: 10px;
    width: 300px;
  }
 .card button{
  width: 300px;
  height: 39px;
text-align: center;
background-color: brown;}
.card a{
    text-align: left;
}